/*
* THEMED Pivot Table UI
*/
.pivot__ui {
  grid-template-areas:
    'renderer criterion'
    'aggregator axisX'
    'axisY sortBy'
    'axisY output';
  grid-template-columns: auto minmax(0, 1fr);
}

.pivot__dimension,
.ui__button {
  max-width: 200px;
}

/*
* THEMED Pivot Table UI / Renderer(Table)
*/
.pvtAxisLabel {
  max-width: 240px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
