/*
* Pivot Table UI / Renderer(Table)
*/
.pvtTable {
  border-collapse: collapse;
  font-family: inherit;
  font-size: inherit;
  min-width: 100%;
  margin: 0;
}

.pvtTable thead tr th,
.pvtTable tbody tr th,
.pvtTable tbody tr td {
  border: 1px solid #FBFAF8;
  font-size: inherit;
  color: inherit;
  padding: 6px;
}

.pvtTable tbody tr:nth-child(odd) th {
  background-color: #e6eaee;
}

.pvtTable tbody tr:nth-child(even) th {
  background-color: #ebf0f8;
}

.pvtTable tbody tr:nth-child(odd) td {
  background-color: #F6F4F1;
}

.pvtTable tbody tr:nth-child(even) td {
  background-color: #FBFAF8;
}

.pvtColLabel,
.pvtVal,
.pvtTable tbody tr:last-child .pvtTotal {
  text-align: center;
}

.pvtRowLabel,
.pvtTable tbody tr:last-child .pvtTotalLabel {
  text-align: right;
}

.pvtTotalLabel,
.pvtTotal,
.pvtTable tbody tr:last-child .pvtGrandTotal {
  text-align: left;
}

.pvtAxisContainer,
.pvtVals {
  background-color: #F6F4F1;
  border-color: #DEE2E6;
  padding: 3px;
}

.pvtTable tbody tr:last-child .pvtTotalLabel,
.pvtTable tbody tr:last-child .pvtTotal,
.pvtTable tbody tr:last-child .pvtGrandTotal {
  background: #000;
  border-color: #FBFAF8;
  color: #fff;
  font-weight: 300;
}
