/*
* Pivot Table UI
*/
.pivot__ui {
  display: grid;
  grid-template-areas:
    'renderer criterion'
    'aggregator axisX'
    'axisY sortBy'
    'axisY output';
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: auto;
  width: 100%;
  max-width: 100%;
  margin: 1rem 0;

  background: var(--palette-light);
}
  .pivot__renderer {
    grid-area: renderer;

    display: flex;
    flex-direction: column;
  }

  .pivot__aggregator {
    display: flex;
    flex-direction: column;
    gap: 6px;
    grid-area: aggregator;
  }
    .pivot__aggregator .ui__select:not(:first-of-type) {
      margin-left: 18px;
    }

  .pivot__criterion {
    background-color: var(--palette-neutral);
    grid-area: criterion;
  }

  .pivot__axis,
  .pivot__plot {
    background: var(--palette-dark);
  }

  .pivot__axis-x {
    grid-area: axisX;
  }

  .pivot__axis-y {
    grid-area: axisY;
    min-width: 100px;
  }

  .pivot__output {
    grid-area: output;
    overflow-x: auto;
  }

/*
* Pivot Table UI / SortBy
*/
.pivot__sortBy {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-end;
  grid-area: sortBy;
}
  .sortBy__container {
    border: 1px solid var(--palette-primary-darken);
    border-radius: var(--border-radius);
    background-color: var(--palette-primary-lighten);
    display: flex;
    flex-wrap: wrap;
    padding: 2px 6px;
  }

  .pivot__sortBy hr {
    border-width: 0 thin 0 0;
    border-style: solid;
    border-color: var(--palette-primary-darken);
    height: auto;
    align-self: stretch;
    flex-shrink: 0;
    margin: 4px 6px;
  }

  .sortBy__x,
  .sortBy__y {
    display: inline-flex;
    gap: 6px;
    align-items: center;
  }

  .pivot__sortBy h4 {
    font-size: 0.75em;
    font-weight: 400;
    margin: 0;
  }

  .pivot__sortBy label {
    line-height: 1;
  }

  .pivot__sortBy label input[type="radio"] {
    display: none;
  }

  .pivot__sortBy label input[type="radio"] + span {
    border-radius: var(--border-radius);
    border-right-width: 0;
    color: rgba(0,0,0, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
  }

  .pivot__sortBy label input[type="radio"]:checked + span {
    background-color: var(--palette-primary);
    color: rgba(0, 0, 0, 1);
  }
